{% embed '@fractal/teaser.twig' with { teaser: { link: { url: url }, variant: 'teaser--archive teaser--archive-with-image my-40' } } %}
  {% block teaser_top %}
    {{ content.field_cover_image|injectclass('teaser__image') }}
  {% endblock %}
  {% block teaser_content %}
    <h3 class="teaser__heading">{{ label|injectclass('heading__text') }}</h3>
    <div class="mb-10">{{ content.field_run_date }}</div>
    {% if content.field_description|children %}
      {{ content.field_description }}
    {% else %}
      {{ content.body }}
    {% endif %}
  {% endblock %}  
{% endembed %}